# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs

# Top-most EditorConfig file
root = true

# Unix-style newlines
[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 3
trim_trailing_whitespace = true

# JavaScript files
[*.js]
indent_size = 3
